// Mixins in here
.flex(@justify: center, @align: center){
    display: flex;
	justify-content: @justify;
    align-items: @align;
}

.border-bottom {
    border-bottom: 2px dashed #C0C0C0;
}


// for testing 
.border {
    border: 1px solid red;
}